@using DigitalClassroomWebApp.Models
@model Lesson
@{
    ViewData["Title"] = "Dashboard";
}
<style>
    .main {
        position:relative;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        display: grid;
        grid-template-columns: 56% 22% 22%;
        grid-template-rows: 35% 35% 35%;
    }

    .schedule {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .notifications {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .runningDate {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .classOverview {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .calendar {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
</style>

<h1>Dashboard</h1>
<div class="border main flex-fill d-flex">
    <div class="border schedule">
        <h3>Stundenplan</h3>
    </div>
    <div class="border notifications">
        <h3>Meldungen</h3>
    </div>
    <div class="border runningDate">
        <h3>Laufender Sprechstundentermin</h3>
    </div>
    <div class="border classOverview">
        <h3>Meine Klassen</h3>
    </div>
    <div class="border calendar">
        <h3>Kalender</h3>
    </div>
</div>