@using DigitalClassroomWebApp.Models
@model Lesson
@{
    ViewData["Title"] = "Lesson Page";
}

    <div>
        <div>
            <span> @Html.DisplayFor(m => m.Subject)</span>
        </div>
        <div>
            <span>bei @Html.DisplayFor(m => m.Teacher)</span>
        </div>


        <h1>Unterrichtsstunde @Html.DisplayFor(m => m.Title)</h1>
        <h2>Klasse: @Html.DisplayFor(m => m.Class)</h2>


        <table>
            <thead>
                <tr>
                    <th>Aufgabe</th>
                </tr>
            }
        </tbody>
    </table>
</div>
