@using DigitalClassroomWebApp.Models
@model Lesson
@{
    ViewData["Title"] = "Lesson Page";
}

    <div>
        <div>
            <span> @Html.DisplayFor(m => m.Subject)</span>
        </div>
        <div>
            <span>bei @Html.DisplayFor(m => m.Teacher)</span>
        </div>




        <!-- Progress -->


        <h1>Unterrichtsstunde @Html.DisplayFor(m => m.Title)</h1>
        
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" 
                 style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                 ></div>
        </div>

        <h2>Klasse: @Html.DisplayFor(m => m.Class)</h2>



        <table>
            <thead>
                <tr>
                    <th>Aufgabe</th>
                </tr>
            }
        </tbody>
    </table>
</div>
