.Task {
    align-self: center;
    justify-self: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid dodgerblue;
    background-color: white;
}

.Chapter {
    align-self: center;
    justify-self: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 2px solid dodgerblue;
    background-color: white;
}

.Done {
    background-color: dodgerblue;
}

.Bar {
    position: relative;
    top: -20px;
    height: 8px;
    background-color: dodgerBlue;
    z-index: -100;
    align-self: center;
    justify-self: right;
}


.Link:hover {
    background: rgba(30, 144, 255, 0.25);
}
