.Task {
    align-self: center;
    justify-self: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #CBCBCB;
    background-color: #CBCBCB;
}

.Chapter {
    align-self: center;
    justify-self: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 2px solid #CBCBCB;
    background-color: #CBCBCB;
}

.Done {
    background-color: #97A8E0;
    border: #97A8E0;
}

.ProgressBarContainer {
    position: relative;
    top: -20px;
    height: 8px;
    width: 100%;
    background-color: #CBCBCB;
    z-index: -100;
    align-self: center;
    justify-self: right;
}

.BarSuccess {
    height: 8px;
    float: left;
    background-color: #97A8E0;
}

.BarUnsuccess {
    width: auto;
    height: 8px;
    background-color: #CBCBCB;
    overflow: hidden;
}


.Link:hover {
    background: rgba(30, 144, 255, 0.25);
}
